.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__control {
    display: block;
    width: 100%;

    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    box-shadow: none;

    font-family: inherit;
    font-size: 1.4rem;
    color: azure;



    &::placeholder {
        color: rgba(azure, .2);
    }

    &:focus + .form__line {
        width: 100%;
    }

    &--textarea {
        height: 30px;
        overflow: hidden;
        resize: none;
    }
}

.form__line {
    width: 0;
    height: 1px;
    background-color: slateblue;

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;

    transition: width .2s linear;
}

.btn {

    &--form {
        background-color: slateblue;
        transition: transform .2s linear, background-color .2s linear;

        &:hover {
            transform: translate(-1px, -1px);
        }

        &:active {
            transform: translate(2px, 2px);
        }
    }

    &--rounded {
        border-radius: .4em;
    }
}
