.social {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.social__item {
    margin: 0 1rem;

    transition: transform .2s linear;

    &:hover {
        transform: rotate(30deg);
    }

}

.social__img {
    width: 4rem;
}
