<header class="header">
    <div class="header__left">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="index.html">Principal
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link has-subnav" href="">Publicaciones
                    </a>
                    <ul class="subnav">
                        <li class="subnav__item">
                            <a class="subnav__link" href="#">Creacion paginas web

                            </a>
                        </li>
                        <li class="subnav__item">
                            <a class="subnav__link" href="#">Marketing</a>
                        </li>
                        <li class="subnav__item">
                            <a class="subnav__link" href="#">Mantenimiento</a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Sobre mi
                    </a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Contactos
                    </a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="header__right">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="">Perfil</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="">Salir</a>
                </li>
            </ul>
        </nav>
        <form class="search" action="/" method="post">
            <input class="search__input" type="text" placeholder="Buscar algo...">
        </form>
    </div>
</header>
