<aside class="sidebar">
    <div class="sidebar__header">
        <img src="assets/images/sidebar-header.jpg" alt="bg-perfil">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img class="profile__avatar" src="assets/images/andrey.jpg" alt="foto-perfil">
            <div class="profile__name">Tu Nombre</div>
            <div class="profile__prof">Tu Profecion</div>
            <ul class="social">
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link">
                        <img class="social__img" src="assets/images/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link">
                        <img class="social__img" src="assets/images/linkedin.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#" target="_blank" class="social__link">
                        <img class="social__img" src="assets/images/twitter.svg" alt="instagram">
                    </a>
                </li>


            </ul>
            <div class="profile__text">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <!--/.PROFILE-->
    </div>
    <!--/.SIDEBAR__CONTENT-->
    <div class="sidebar__footer">
        <a href="#" class="btn btn--red">Mis trabajos</a>
        <a href="#" class="btn btn --blue">Contacta conmigo</a>

    </div>
</aside>
